/* tableau */

table
{
  border-collapse: collapse;
	width: 100%;
}
#sche td, #sche th  
{
	text-align : center ;
	width: 33.3333333333333333333333333333333333333333333%;
    border: 1px solid black;
	height: 65px ;
}
#tra td
{
  text-align : center ;
  width: 25%;
    border: 1px solid black;
  height: 65px ;
}

#tra td img{
  margin-top: 5px;
  width: 20px;
  height: 20px;
}
#tra td p{
  margin-top: -3px;
}

select
{
	text-align : center;
	text-align-last : center;
	margin-left: 20px;
	height : 35px;
	width : 200px;
}
h3
{
	margin-top : -30px ;
	text-align : center ;
	font-size: 30px ;
}

* {box-sizing: border-box}

body, html {
  height: 100%;
  font-family: Arial;
  overflow-y: hidden
}
/*body 
{
  background-image: url('img/fond.jpg');
  background-repeat: no-repeat;
  background-position: center;
}
Fond d'écran abandonée
*/
/* JS */
/* menu */
.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 33.3333333333333333333333333333333333333333333%;
}

.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  align-items: center;
}
/* MD */
/* zone de text avec barre de scrolling indépendant */
/* https://stackoverflow.com/questions/15453410/independent-column-scroll-in-html-page */
#content div{
    height: 100px;
    width:auto;
    border:1px solid black;
    overflow-y: auto;
}
#table div{
    height: 450px;
    width:auto;
    border:1px solid black;
    overflow-y: auto;
}
/* JS */
/* carte */
.card {
  max-width: 410px;
  margin-left: 5%;
  margin-right: 5%;
  width: 40%;
  text-align: center;
  font-family: arial;
  float : left ;

}
.title {
  color: grey;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 25px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
/* JS */



/* Version mobile */
@media screen and (min-width: 600px) and (max-width: 900px) {
	body{background-image:none}
	#wrapperpub {padding: 5px 10px;margin: 15px;width:auto}
	#wrapper {margin: 15px;width:auto;}
	#header{margin:0 auto;width:auto;}
	#container{width:auto;margin:0 0 0 0;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
	#headertop,#access,.adsensehaut,#footer,.wp-pagenavi,.mobileoff,.sidebar,.blogtitle,.description{display:none}
	.mobileon{width:auto;}
	.navigation_mobile{display:inline}
	#logo img{height:auto;max-width:500px;width:auto;}
	#logo {margin:0 0 0 -1em}
	#content img{height:auto;max-width:500px;width:auto;margin:0;}
	#content .attachment img{height:auto;max-width:500px;width:auto;margin:0;}
	#content .attachment-thumbnail {height:auto;max-width:90px;width:auto;margin:0;}
	#content .wp-caption{max-width:500px;width:auto;}
	#content .wp-caption img{max-width:480px;width:auto;}
	#content .dp40 .postthumbimg-ds img{max-width:150px;width:auto;}
}

@media screen and (max-width: 600px),screen and (max-device-width: 480px) {
	body{background-image:none}
	#wrapperpub {padding: 5px 10px;margin: 15px;width:auto}
	#wrapper {margin: 15px;width:auto;}
	#header{margin:0 auto;width:auto;}
	#container{width:auto;margin:0 0 0 0;-moz-border-radius-topleft:6px;border-top-left-radius:6px;-moz-border-radius-topright:6px;border-top-right-radius:6px;-moz-border-radius-bottomleft:6px;border-bottom-left-radius:6px;-moz-border-radius-bottomright:6px;border-bottom-right-radius:6px;}
	#headertop,#access,.adsensehaut,#footer,.wp-pagenavi,.mobileoff,.sidebar,.blogtitle,.description{display:none}
	.mobileon{width:auto;}
	.navigation_mobile{display:inline}
	#logo img{height:auto;max-width:300px;width:auto;}
	#logo {margin:0 0 0 -1em}
	#content img{height:auto;max-width:280px;width:auto;margin:0;}
	#content .attachment img{height:auto;max-width:280px;width:auto;margin:0;}
	#content .attachment-thumbnail {height:auto;max-width:50px;width:auto;margin:0;}
	#content .wp-caption{max-width:280px;width:auto;}
	#content .wp-caption img{max-width:260px;width:auto;}
	#content .dp40 .postthumbimg-ds img{max-width:100px;width:auto;}
}
